.info.legend {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.legend-key {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
